<a href="https://colab.research.google.com/github/nadeeraka/tipitaka.app/blob/master/ci_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import numpy as np
!pip install -q kaggle
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from google.colab import drive

import pandas as pd

In [6]:
drive.mount("/content/gdrive")

Mounted at /content/gdrive

In [7]:

pd.read_csv('/content/gdrive/My Drive/d/movie_metadata.csv')

      color      director_name  ...  aspect_ratio  movie_facebook_likes
0     Color      James Cameron  ...          1.78                 33000
1     Color     Gore Verbinski  ...          2.35                     0
2     Color         Sam Mendes  ...          2.35                 85000
3     Color  Christopher Nolan  ...          2.35                164000
4       NaN        Doug Walker  ...           NaN                     0
...     ...                ...  ...           ...                   ...
5038  Color        Scott Smith  ...           NaN                    84
5039  Color                NaN  ...         16.00                 32000
5040  Color   Benjamin Roberds  ...           NaN                    16
5041  Color        Daniel Hsia  ...          2.35                   660
5042  Color           Jon Gunn  ...          1.85                   456

[5043 rows x 28 columns]

In [8]:

pd.read_csv('/content/gdrive/My Drive/d/Netflix Shows.csv','file', encoding = "ISO-8859-1")

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

    title,rating,ratingLevel,ratingDescription,release year,user rating score,user rating size
0    White Chicks,PG-13,"crude and sexual humor, la...
1    Lucky Number Slevin,R,"strong violence, sexual...
2    Grey's Anatomy,TV-14,Parents strongly cautione...
3    Prison Break,TV-14,Parents strongly cautioned....
4    How I Met Your Mother,TV-PG,Parental guidance ...
..                                                 ...
995  The BFG,PG,"for action/peril, some scary momen...
996  The Secret Life of Pets,PG,for action and some...
997  Precious Puppies,TV-G,Suitable for all ages.,3...
998  Beary Tales,TV-G,Suitable for all ages.,35,201...
999                   Growing Up Wild,G,,35,2016,80,80

[1000 rows x 1 columns]

In [9]:

movies = pd.read_csv('/content/gdrive/My Drive/d/my-netflix.csv','file', encoding = "ISO-8859-1")

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

In [10]:
movies
print('Number of examples in the data:', movies.shape[0])

Number of examples in the data: 1000

In [11]:
#First four rows in the variable 'X'
movies[:4]

  title,rating,ratingLevel,ratingDescription,release year,user rating score,user rating size,user id
0  White Chicks,PG-13,"crude and sexual humor, la...
1  Lucky Number Slevin,R,"strong violence, sexual...
2  Grey's Anatomy,TV-14,Parents strongly cautione...
3  Prison Break,TV-14,Parents strongly cautioned....

In [12]:
movies = pd.read_csv('/content/gdrive/My Drive/d/movies.csv')

In [13]:
movies[:4]

                                         Poster_Link  ... user id
0  https://m.media-amazon.com/images/M/MV5BMDFkYT...  ...       1
1  https://m.media-amazon.com/images/M/MV5BM2MyNj...  ...       2
2  https://m.media-amazon.com/images/M/MV5BMTMxNT...  ...       3
3  https://m.media-amazon.com/images/M/MV5BMWMwMG...  ...       4

[4 rows x 17 columns]

In [14]:
headers = pd.read_csv('/content/gdrive/My Drive/d/h.csv')

In [15]:
row = pd.read_csv('/content/gdrive/My Drive/d/row.csv')

In [16]:
#Using the train_test_split to create train and test sets.
X_train, X_test, y_train, y_test = train_test_split(movies, headers, random_state = 47)

ValueError: ignored

In [17]:
#Importing the Decision tree classifier from the sklearn library.
from sklearn.tree import DecisionTreeClassifier
clf = DecisionTreeClassifier(criterion = 'entropy')

In [13]:
clf.fit(row,movies)

ValueError: ignored

In [18]:
movies.head(3)

                                         Poster_Link  ... user id
0  https://m.media-amazon.com/images/M/MV5BMDFkYT...  ...       1
1  https://m.media-amazon.com/images/M/MV5BM2MyNj...  ...       2
2  https://m.media-amazon.com/images/M/MV5BMTMxNT...  ...       3

[3 rows x 17 columns]

In [19]:
#cleaning data 
data =movies.drop(columns="Poster_Link").head

In [15]:
data

<bound method NDFrame.head of                  Series_Title Released_Year  ...        Gross user id
0    The Shawshank Redemption          1994  ...   28341469.0       1
1               The Godfather          1972  ...  134966411.0       2
2             The Dark Knight          2008  ...  534858444.0       3
3      The Godfather: Part II          1974  ...   57300000.0       4
4                12 Angry Men          1957  ...    4360000.0       5
..                        ...           ...  ...          ...     ...
995    Breakfast at Tiffany's          1961  ...          NaN     996
996                     Giant          1956  ...          NaN     997
997     From Here to Eternity          1953  ...   30500000.0     998
998                  Lifeboat          1944  ...          NaN     999
999              The 39 Steps          1935  ...          NaN    1000

[1000 rows x 16 columns]>

In [20]:
test1 = pd.read_csv('/content/gdrive/My Drive/d/row/a.csv')

In [21]:
test2 = pd.read_csv('/content/gdrive/My Drive/d/row/b.csv')

In [20]:
clf.fit(test1,test2)

ValueError: ignored

In [19]:
#cleaning data 
test1 =test1.drop(columns="Poster_Link").head
#cleaning data 
test2 =test2.drop(columns="Poster_Link").head

KeyError: ignored

In [22]:
headers

Empty DataFrame
Columns: [Poster_Link, Series_Title, Released_Year, Certificate, Runtime, Genre, IMDB_Rating, Overview, Meta_score, Director, Star1, Star2, Star3, Star4, No_of_Votes, Gross, user id]
Index: []

In [28]:
movies =  pd.read_csv('/content/gdrive/My Drive/d/m.csv')

In [29]:
movies

    age  gender                           genre country
0    20       1                Action|Adventure     USA
1    23       1                Action|Adventure     IND
2    25       1                Action|Adventure     USA
3    26       1                Action|Adventure     IND
4    29       1                Action|Adventure     USA
5    30       1                Action|Adventure     IND
6    31       1         Biography|Drama|History     USA
7    33       1  Action|Adventure|Drama|Romance     IND
8    37       1         Biography|Drama|History     USA
9    20       0           Comedy|Family|Fantasy     USA
10   21       0                   Drama|Romance     IND
11   25       0           Comedy|Family|Fantasy     USA
12   26       0           Comedy|Family|Fantasy     USA
13   27       0                   Drama|Romance     IND
14   30       0           Comedy|Family|Fantasy     USA
15   31       0                   Drama|Romance     IND
16   34       0           Comedy|Family|Fantasy     USA
17   35       0                   Drama|Romance     IND
18   36       1         Biography|Drama|History     USA
19   37       0           Comedy|Family|Fantasy     USA
20   38       0           Comedy|Family|Fantasy     USA
21   39       1                Action|Adventure     IND
22   40       1                Action|Adventure     IND
23   41       0                   Drama|Romance     IND
24   42       1         Biography|Drama|History     USA
25   43       1         Biography|Drama|History     USA
26   44       0           Comedy|Family|Fantasy     USA

In [36]:
test_data = movies.drop(columns=['genre', 'country'])
test_data

    age  gender
0    20       1
1    23       1
2    25       1
3    26       1
4    29       1
5    30       1
6    31       1
7    33       1
8    37       1
9    20       0
10   21       0
11   25       0
12   26       0
13   27       0
14   30       0
15   31       0
16   34       0
17   35       0
18   36       1
19   37       0
20   38       0
21   39       1
22   40       1
23   41       0
24   42       1
25   43       1
26   44       0

In [37]:
result_set = movies['genre']
result_set

0                   Action|Adventure
1                   Action|Adventure
2                   Action|Adventure
3                   Action|Adventure
4                   Action|Adventure
5                   Action|Adventure
6            Biography|Drama|History
7     Action|Adventure|Drama|Romance
8            Biography|Drama|History
9              Comedy|Family|Fantasy
10                     Drama|Romance
11             Comedy|Family|Fantasy
12             Comedy|Family|Fantasy
13                     Drama|Romance
14             Comedy|Family|Fantasy
15                     Drama|Romance
16             Comedy|Family|Fantasy
17                     Drama|Romance
18           Biography|Drama|History
19             Comedy|Family|Fantasy
20             Comedy|Family|Fantasy
21                  Action|Adventure
22                  Action|Adventure
23                     Drama|Romance
24           Biography|Drama|History
25           Biography|Drama|History
26             Comedy|Family|Fantasy
Name: genre, dtype: object

In [34]:
from sklearn.tree import DecisionTreeClassifier
clf = DecisionTreeClassifier(criterion = 'entropy')

In [38]:
clf.fit(test_data,result_set)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='entropy',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [44]:
predict = clf.predict([[23,0], [32,1]])
predict

array(['Drama|Romance', 'Biography|Drama|History'], dtype=object)

In [40]:
movies

    age  gender                           genre country
0    20       1                Action|Adventure     USA
1    23       1                Action|Adventure     IND
2    25       1                Action|Adventure     USA
3    26       1                Action|Adventure     IND
4    29       1                Action|Adventure     USA
5    30       1                Action|Adventure     IND
6    31       1         Biography|Drama|History     USA
7    33       1  Action|Adventure|Drama|Romance     IND
8    37       1         Biography|Drama|History     USA
9    20       0           Comedy|Family|Fantasy     USA
10   21       0                   Drama|Romance     IND
11   25       0           Comedy|Family|Fantasy     USA
12   26       0           Comedy|Family|Fantasy     USA
13   27       0                   Drama|Romance     IND
14   30       0           Comedy|Family|Fantasy     USA
15   31       0                   Drama|Romance     IND
16   34       0           Comedy|Family|Fantasy     USA
17   35       0                   Drama|Romance     IND
18   36       1         Biography|Drama|History     USA
19   37       0           Comedy|Family|Fantasy     USA
20   38       0           Comedy|Family|Fantasy     USA
21   39       1                Action|Adventure     IND
22   40       1                Action|Adventure     IND
23   41       0                   Drama|Romance     IND
24   42       1         Biography|Drama|History     USA
25   43       1         Biography|Drama|History     USA
26   44       0           Comedy|Family|Fantasy     USA

In [48]:
X_train, X_test, y_train, y_test = train_test_split(test_data,result_set, random_state = 47, test_size=0.5)